properties:
  name:
    description: 'Product Name (ex. JP, US)',
    default: 'MyApp',

  id:
    description: 'Your bundle id (ex. info.matsurai25)',
    default: 'com.my.app',

  version:
    description: 'Product Version',
    default: '0.0.1',
