doctype html
html
  head
    meta(charset="UTF-8")
    link(id="hostStyle", rel="stylesheet", href="./assets/css/bundle.css")

  body
    #app
      h1 Test
      h2 test
      .class
        | content

    script(src="./assets/js/bundle.js")
